<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Dewsverse Video Conference
    </title>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="function.js" defer></script>
    <script src="script.js" defer></script>
    <script src="https://cdn.tailwindcss.com">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mitr&family=Rubik+Doodle+Shadow&display=swap');

        #video-grid {
            place-self: center;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 4px;
            padding: 4px;
        }

        video {
            object-fit: cover;
            place-self: center;
            transform: rotateY(180deg) !important;
            -webkit-transform: rotateY(180deg);
            /* Safari and Chrome */
            -moz-transform: rotateY(180deg);
            border: 4px solid #00B02766;
            border-radius: 0px;

            /* Firefox */
        }

        video::after {
            content: "Status: Connected";
            display: block;
            z-index: 100;
        }

        .notification-pop {
            top: 10px;
            background: #ffff2e;
            border-radius: 7px;
            padding: 7px;
            position: absolute;
            left: 12px;
        }

        .fade-in-fwd {
            animation: fade-in-fwd .6s cubic-bezier(.39, .575, .565, 1.000) both
        }

        @keyframes fade-in-fwd {
            0% {
                transform: translateZ(-80px);
                opacity: 0
            }

            100% {
                transform: translateZ(0);
                opacity: 1
            }
        }

        .scale-in-center {
            animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both
        }

        @keyframes scale-in-center {
            0% {
                transform: scale(0);
                opacity: 1
            }

            100% {
                transform: scale(1);
                opacity: 1
            }
        }

        .slide-in-left {
            animation: slide-in-left .5s cubic-bezier(.25, .46, .45, .94) both
        }

        @keyframes slide-in-left {
            0% {
                transform: translateX(-1000px);
                opacity: 0
            }

            100% {
                transform: translateX(0);
                opacity: 1
            }
        }

        .slide-out-left {
            animation: slide-out-left .5s cubic-bezier(.55, .085, .68, .53) both
        }

        @keyframes slide-out-left {
            0% {
                transform: translateX(0);
                opacity: 1
            }

            100% {
                transform: translateX(-1000px);
                opacity: 0
            }
        }

        .swing-in-left-bck {
            -webkit-animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        }

        @-webkit-keyframes swing-in-left-bck {
            0% {
                -webkit-transform: rotateY(-70deg);
                transform: rotateY(-70deg);
                -webkit-transform-origin: left;
                transform-origin: left;
                opacity: 0;
            }

            100% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
                -webkit-transform-origin: left;
                transform-origin: left;
                opacity: 1;
            }
        }

        @keyframes swing-in-left-bck {
            0% {
                -webkit-transform: rotateY(-70deg);
                transform: rotateY(-70deg);
                -webkit-transform-origin: left;
                transform-origin: left;
                opacity: 0;
            }

            100% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
                -webkit-transform-origin: left;
                transform-origin: left;
                opacity: 1;
            }
        }

        .rotate-center {
            -webkit-animation: rotate-center 0.6s ease-in-out both;
            animation: rotate-center 0.6s ease-in-out both;
        }

        @-webkit-keyframes rotate-center {
            0% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
                color: black;
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                color: white;
            }
        }

        @keyframes rotate-center {
            0% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
                color: black;
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                color: white;
            }
        }

        .scale-out-bottom {
            -webkit-animation: scale-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: scale-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }

        @-webkit-keyframes scale-out-bottom {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
            }
        }

        @keyframes scale-out-bottom {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
            }
        }

        .scale-in-bottom {
            -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        @-webkit-keyframes scale-in-bottom {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
            }
        }

        @keyframes scale-in-bottom {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
            }
        }

        .control-buttons svg {
            background: white;
            border-radius: 30px;
            padding: 9px;
            scale: 1.4;
        }
    </style>
</head>


<body id="body" class="bg-white">
    <div style="backdrop-filter: blur(40px);" id="leaving-room-div"
        class="fixed z-[1000] w-screen h-screen hidden items-center justify-center ">
        <p style="font-family: 'Mitr', sans-serif;" class="text-white text-2xl">Leaving the Room...</p>
    </div>
    <div id="bright-mode-div" class="fixed z-[1000] bg-[#ffff2e] w-screen h-screen hidden items-center justify-center ">
        <i id="sun-icon" style="scale: 10;" class="fas fa-sun"></i>
    </div>
    <div class="flex flex-col h-screen">
        <!-- Video Grid -->
        <h3 onclick="inviteOthers()" class="bg-[#b4b4b44d] text-black p-[15px] [w-25rem] self-center text-[#000000] rounded-[22px] cursor-pointer text-center text-[21px] mt-[11px] mb-[5px]">Room
            ID: <%= roomId %>
        </h3>
        <div id="video-grid" class="w-[80%] grid grid-cols-1 md:grid-cols-2 gap-4 p-4 justify-self-center"></div>
<!-- 
        <div class="flex flex-1 items-end p-4" style="align-self: center;position: fixed;
        top: 10px;">
            <div class="bg-white rounded-lg shadow-lg p-5">
              <div class="flex items-center mb-4">
                <div class="rounded-full bg-gray-300 h-3 w-3 mr-2"></div>
                <div class="text-sm text-gray-500">You:</div>
              </div>
              <div class="flex items-center mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet porro cupiditate totam?
              </div>
              <div class="flex items-center mb-2">
                <div class="rounded-full bg-green-500 h-3 w-3 mr-2"></div>
                <div class="text-sm text-gray-500">AI:</div>
              </div>
              <div class="flex items-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet id autem dolorem!
              </div>
            </div>
          </div> -->

          
        <!-- Controls and Chat -->
        <div class="flex flex-1 items-end p-4" style="align-self: center;">
            <!-- Controls -->
            <div style="
            " class="bg-[#b4b4b44d] p-[12px] rounded-[35px] flex justify-between items-center fade-in-fwd scale-in-bottom"
                id="navigation-panel">
                <div style="" class="flex space-x-2 mr-3">
                    <button onclick="toggleVideoMute();"
                        class="control-buttons text-white p-2 rounded-md focus:outline-none">
                        <svg style="background: white;
                        border-radius: 30px;" width="34" height="34" viewBox="0 0 34 34" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_337_3926)">
                                <path
                                    d="M28.0383 18.1954C28.0383 17.6381 27.5864 17.1862 27.0288 17.1862C26.4713 17.1862 26.0193 17.6381 26.0193 18.1954C26.0193 23.1331 22.0026 27.1499 17.0648 27.1499C12.1274 27.1499 8.1106 23.1331 8.1106 18.1954C8.1106 17.6381 7.65866 17.1862 7.10111 17.1862C6.54355 17.1862 6.09161 17.6381 6.09161 18.1954C6.09161 23.906 10.4762 28.6105 16.0554 29.1219V31.8394H12.3092C11.7516 31.8394 11.2997 32.2914 11.2997 32.8489C11.2997 33.4065 11.7516 33.8584 12.3092 33.8584H21.8207C22.378 33.8584 22.83 33.4065 22.83 32.8489C22.83 32.2914 22.378 31.8394 21.8207 31.8394H18.0743V29.1219C23.6538 28.6108 28.0383 23.906 28.0383 18.1954Z"
                                    fill="#2A2A2A" />
                                <path
                                    d="M17.0648 24.6592C20.6289 24.6592 23.5285 21.7596 23.5285 18.1955V6.47284C23.5285 2.90901 20.6289 0.00939941 17.0648 0.00939941C13.501 0.00939941 10.6014 2.90901 10.6014 6.47284V18.1955C10.6014 21.7596 13.501 24.6592 17.0648 24.6592Z"
                                    fill="#2A2A2A" />
                            </g>
                            <defs>
                                <clipPath id="clip0_337_3926">
                                    <rect width="33.8491" height="33.8491" fill="white"
                                        transform="translate(0.07547 0.0754395)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </button>
                    <button id="stop-video-button" class="control-buttons text-white p-2 rounded-md focus:outline-none">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_337_3147)">
                                <path
                                    d="M33.4888 8.74347C33.2163 8.55902 32.8701 8.52174 32.5646 8.64391L25.2859 11.5553V22.4447L32.5646 25.3561C32.6834 25.4036 32.8084 25.427 32.9328 25.427C33.1282 25.427 33.3223 25.3692 33.4888 25.2565C33.7613 25.072 33.9245 24.7645 33.9245 24.4354V9.56464C33.9245 9.23561 33.7613 8.92799 33.4888 8.74347Z"
                                    fill="#2A2A2A" />
                                <path
                                    d="M20.1866 27.5514H3.19157C1.4734 27.5514 0.07547 26.1535 0.07547 24.4354V9.56464C0.07547 7.84647 1.4734 6.44861 3.19157 6.44861H20.1866C21.9047 6.44861 23.3026 7.84647 23.3026 9.56464V24.4354C23.3026 26.1535 21.9047 27.5514 20.1866 27.5514Z"
                                    fill="#2A2A2A" />
                            </g>
                            <defs>
                                <clipPath id="clip0_337_3147">
                                    <rect width="33.8491" height="33.8491" fill="white"
                                        transform="translate(0.07547 0.0754395)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </button>

                </div>
                <div style="" class="hidden md:flex flex space-x-2 items-center">
                    <button onclick="pop_notification('Not available yet')"
                        class="control-buttons text-white p-2 rounded-md focus:outline-none">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_337_3714)">
                                <path
                                    d="M22.1034 7.68064C20.1924 3.77877 16.1951 1.1991 11.7113 1.1991C5.29558 1.1991 0.0760023 6.38905 0.0760023 12.7683C0.0760023 14.502 0.448201 16.1637 1.18281 17.7129L0.0952403 23.1515C-0.0431938 23.8438 0.567529 24.4557 1.25996 24.3187L6.76553 23.2302C7.50682 23.5819 8.27369 23.8493 9.06166 24.0335C7.2954 15.6679 13.6364 7.81537 22.1034 7.68064Z"
                                    fill="#2A2A2A" />
                                <path
                                    d="M32.8175 26.175C33.0075 25.7744 33.1727 25.3661 33.314 24.9511H33.2777C35.7534 17.6845 30.5471 10.0472 22.861 9.67534C22.8608 9.67494 22.8608 9.67455 22.8607 9.67415C16.2473 9.36938 10.7528 14.6645 10.7528 21.2304C10.7528 27.6043 15.9332 32.7902 22.305 32.7995C24.0333 32.7971 25.6899 32.4251 27.2347 31.6923C33.2644 32.8844 32.7941 32.7997 32.9326 32.7997C33.5593 32.7997 34.0274 32.2254 33.905 31.6136L32.8175 26.175Z"
                                    fill="#2A2A2A" />
                            </g>
                            <defs>
                                <clipPath id="clip0_337_3714">
                                    <rect width="33.8491" height="33.8491" fill="white"
                                        transform="translate(0.07547 0.0754395)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </button>
                    <button id="share-screen-button"
                        class="control-buttons text-white p-2 rounded-md focus:outline-none">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_337_1289)">
                                <path
                                    d="M31.9412 1.66211H2.05881C0.965329 1.66211 0.0754695 2.55197 0.0754695 3.64545V23.3467C0.0754695 24.4401 0.965329 25.33 2.05881 25.33H31.9412C33.0347 25.33 33.9245 24.4401 33.9245 23.3467V3.64545C33.9245 2.55197 33.0347 1.66211 31.9412 1.66211Z"
                                    fill="#2A2A2A" />
                                <path
                                    d="M27.5778 30.2223H22.2228V27.3134H11.7772V30.2223H6.42217C5.87477 30.2223 5.4305 30.6665 5.4305 31.2139C5.4305 31.7613 5.87477 32.2056 6.42217 32.2056H27.5778C28.1252 32.2056 28.5695 31.7613 28.5695 31.2139C28.5695 30.6665 28.1252 30.2223 27.5778 30.2223Z"
                                    fill="#2A2A2A" />
                            </g>
                            <defs>
                                <clipPath id="clip0_337_1289">
                                    <rect width="33.8491" height="33.8491" fill="white"
                                        transform="translate(0.07547 0.0754395)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </button>
                    <button onclick="BrightMode()" class="control-buttons text-white p-2 rounded-md focus:outline-none">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_337_3882)">
                                <path
                                    d="M16.8601 13.5173L19.2612 14.7168L20.4608 17.1183C20.632 17.4618 20.9835 17.6784 21.3675 17.6784C21.7518 17.6784 22.102 17.4618 22.2742 17.1183L23.4751 14.7168L25.8752 13.5173C26.2187 13.345 26.4354 12.9946 26.4354 12.6106C26.4354 12.2266 26.2187 11.8761 25.8752 11.7039L23.4751 10.504L22.2742 8.10285C21.9297 7.41591 20.8035 7.41591 20.4608 8.10285L19.2612 10.504L16.8601 11.7039C16.5166 11.8751 16.2997 12.2266 16.2997 12.6106C16.2997 12.9946 16.5166 13.3461 16.8601 13.5173Z"
                                    fill="#2A2A2A" />
                                <path
                                    d="M27.442 5.60954H28.4557V6.62316C28.4557 7.1833 28.9092 7.63678 29.4693 7.63678C30.0294 7.63678 30.4829 7.1833 30.4829 6.62316V5.60954H31.4965C32.0567 5.60954 32.5102 5.15631 32.5102 4.59591C32.5102 4.03577 32.0567 3.58255 31.4965 3.58255H30.4829V2.56892C30.4829 2.00852 30.0294 1.5553 29.4693 1.5553C28.9092 1.5553 28.4557 2.00852 28.4557 2.56892V3.58255H27.442C26.8819 3.58255 26.4287 4.03577 26.4287 4.59591C26.4287 5.15631 26.8819 5.60954 27.442 5.60954Z"
                                    fill="#2A2A2A" />
                                <path
                                    d="M33.4455 20.2612C33.0605 20.0236 32.5633 20.0672 32.2299 20.3719C29.8019 22.5743 26.6611 23.7878 23.3878 23.7878C16.1225 23.7878 10.2115 17.8767 10.2115 10.6115C10.2115 7.3379 11.425 4.19734 13.6273 1.76929C13.931 1.4346 13.9767 0.938765 13.7381 0.553717C13.4995 0.169702 13.0323 -0.00848922 12.6008 0.113404C5.22545 2.20186 0.07547 9.01961 0.07547 16.6927C0.07547 26.1941 7.8051 33.9235 17.3063 33.9235C24.9794 33.9235 31.7974 28.7735 33.8858 21.3985C34.0095 20.9628 33.8295 20.4995 33.4455 20.2612Z"
                                    fill="#2A2A2A" />
                            </g>
                            <defs>
                                <clipPath id="clip0_337_3882">
                                    <rect width="33.8491" height="33.8491" fill="white"
                                        transform="translate(0.07547 0.0754395)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </button>
                    <button onclick="" class="control-buttons text-white p-2 rounded-md focus:outline-none">
                        <svg style="background-color: pink;" width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_337_4316)">
                            <path d="M31.6106 0.0754395H2.38937C1.11342 0.0754395 0.07547 1.11339 0.07547 2.38934V23.8914C0.07547 25.1674 1.11342 26.2053 2.38937 26.2053H8.52043C8.64538 26.2053 8.75843 26.2747 8.81529 26.3865L6.25545 31.28C5.85878 32.0734 6.78434 33.66 8.52043 32.47L19.2979 26.3865C19.3548 26.2747 19.4678 26.2053 19.5928 26.2053H31.6106C32.8866 26.2053 33.9245 25.1674 33.9245 23.8914V2.38934C33.9245 1.11339 32.8866 0.0754395 31.6106 0.0754395ZM15.0847 16.6707C12.4443 19.8129 6.7633 17.7089 6.7633 13.1404C6.7633 9.11565 11.2823 6.73716 14.5942 8.97668C15.0477 9.28344 15.1674 9.8996 14.8606 10.3531C14.5539 10.8073 13.9377 10.927 13.4835 10.6202C11.4792 9.26552 8.74665 10.707 8.74665 13.1404C8.74665 15.8876 12.1258 17.1041 13.5648 15.3961C13.9166 14.9763 14.542 14.9214 14.9618 15.2731C15.3816 15.6255 15.4365 16.2509 15.0847 16.6707ZM27.0046 16.6707C24.3688 19.8073 18.6839 17.7185 18.6839 13.1404C18.6839 9.11505 23.2029 6.73716 26.5148 8.97668C26.9683 9.28344 27.0879 9.8996 26.7812 10.3531C26.4744 10.8073 25.8583 10.927 25.4041 10.6202C23.3997 9.26552 20.6672 10.707 20.6672 13.1404C20.6672 15.8858 24.045 17.1059 25.4854 15.3961C25.8378 14.9763 26.4632 14.9214 26.8823 15.2738C27.3021 15.6255 27.357 16.2509 27.0046 16.6707Z" fill="#2A2A2A"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_337_4316">
                            <rect width="33.8491" height="33.8491" fill="white" transform="translate(0.07547 0.0754395)"/>
                            </clipPath>
                            </defs>
                            </svg>
                            

                    </button>
                    <button onclick="leaveMeeting();"
                        class="control-buttons text-black flex rounded-md focus:outline-none">
                        <svg class="mr-[15px] ml-[15px] bg-[#D0202066]" style="background-color: #D0202066;" width="80"
                            height="34" viewBox="0 0 116 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_337_3235)">
                                <path
                                    d="M17.714 0.0754395C8.36842 0.0754395 0.79248 7.6538 0.79248 17.0006C0.79248 26.3461 8.36842 33.9245 17.714 33.9245C27.0644 33.9245 34.6415 26.3449 34.6415 17.0006C34.6415 7.6538 27.0644 0.0754395 17.714 0.0754395ZM24.991 21.5832L22.2954 24.2751C22.2954 24.2751 18.0311 19.6998 17.7128 19.6998C17.3993 19.6998 13.1338 24.2751 13.1338 24.2751L10.437 21.5832C10.437 21.5832 15.0172 17.3806 15.0172 17.0066C15.0172 16.6266 10.437 12.4228 10.437 12.4228L13.1338 9.72481C13.1338 9.72481 17.4344 14.3026 17.7128 14.3026C17.9936 14.3026 22.2954 9.72481 22.2954 9.72481L24.991 12.4228C24.991 12.4228 20.4096 16.6871 20.4096 17.0066C20.4096 17.3104 24.991 21.5832 24.991 21.5832Z"
                                    fill="#2A2A2A" />
                            </g>
                            <path
                                d="M51.0553 26V8.38525H53.8019V23.6318H62.0172V26H51.0553ZM69.3536 26.2563C68.0922 26.2563 67.0058 25.9837 66.0944 25.4385C65.1829 24.8932 64.483 24.1242 63.9948 23.1313C63.5065 22.1304 63.2623 20.9504 63.2623 19.5913V19.5791C63.2623 18.2363 63.5065 17.0604 63.9948 16.0513C64.4912 15.0422 65.1829 14.2568 66.0699 13.6953C66.9651 13.1338 68.0149 12.853 69.2194 12.853C70.4238 12.853 71.4614 13.1216 72.3322 13.6587C73.2029 14.1958 73.8743 14.9526 74.3463 15.9292C74.8183 16.8976 75.0543 18.0288 75.0543 19.3228V20.2261H64.5807V18.3462H73.7726L72.4664 20.0918V19.0664C72.4664 18.1631 72.3281 17.4103 72.0514 16.8081C71.7747 16.2059 71.3922 15.7583 70.9039 15.4653C70.4238 15.1642 69.8663 15.0137 69.2316 15.0137C68.5968 15.0137 68.0271 15.1683 67.5226 15.4775C67.0262 15.7868 66.6355 16.2466 66.3507 16.8569C66.0659 17.4591 65.9235 18.1956 65.9235 19.0664V20.104C65.9235 20.9422 66.0618 21.6584 66.3385 22.2524C66.6233 22.8465 67.0262 23.3022 67.547 23.6196C68.076 23.9289 68.6985 24.0835 69.4147 24.0835C69.9355 24.0835 70.3953 24.0062 70.7941 23.8516C71.201 23.6888 71.5346 23.4772 71.795 23.2168C72.0636 22.9482 72.2508 22.6593 72.3566 22.3501L72.381 22.2646L74.9078 22.2524L74.8834 22.3867C74.7776 22.8831 74.5782 23.3633 74.2853 23.8271C74.0004 24.2829 73.622 24.6979 73.15 25.0723C72.678 25.4385 72.1246 25.7274 71.4899 25.939C70.8551 26.1506 70.143 26.2563 69.3536 26.2563ZM80.9869 26.2319C80.1406 26.2319 79.3919 26.0692 78.7408 25.7437C78.0979 25.4181 77.5934 24.9624 77.2272 24.3765C76.8691 23.7905 76.6901 23.111 76.6901 22.3379V22.3135C76.6901 21.5648 76.8772 20.9178 77.2516 20.3726C77.6259 19.8192 78.1712 19.3879 78.8873 19.0786C79.6035 18.7612 80.4702 18.57 81.4874 18.5049L86.3458 18.2241V20.0796L81.8414 20.3604C81.0358 20.4092 80.4173 20.6004 79.986 20.9341C79.5628 21.2596 79.3512 21.6991 79.3512 22.2524V22.2646C79.3512 22.8343 79.5669 23.286 79.9982 23.6196C80.4295 23.9451 80.9991 24.1079 81.7072 24.1079C82.3338 24.1079 82.8912 23.9818 83.3795 23.7295C83.8759 23.4691 84.2666 23.1191 84.5514 22.6797C84.8444 22.2321 84.9908 21.7316 84.9908 21.1782V17.3086C84.9908 16.6006 84.767 16.0472 84.3195 15.6484C83.88 15.2415 83.2452 15.0381 82.4152 15.0381C81.6665 15.0381 81.0602 15.1968 80.5963 15.5142C80.1324 15.8315 79.8435 16.2466 79.7296 16.7593L79.7052 16.8569H77.2028L77.215 16.7227C77.2882 15.9821 77.5405 15.3229 77.9718 14.7451C78.4113 14.1592 79.0135 13.6994 79.7784 13.3657C80.5434 13.0239 81.4508 12.853 82.5006 12.853C83.5586 12.853 84.47 13.028 85.235 13.3779C86 13.7279 86.59 14.2243 87.005 14.8672C87.4282 15.502 87.6398 16.2547 87.6398 17.1255V26H84.9908V23.998H84.9176C84.6653 24.4538 84.3398 24.8485 83.941 25.1821C83.5504 25.5158 83.1028 25.7762 82.5983 25.9634C82.1018 26.1424 81.5647 26.2319 80.9869 26.2319ZM93.8409 26L89.1901 13.1094H92.0099L95.2325 23.3999H95.318L98.5406 13.1094H101.312L96.6852 26H93.8409ZM108.001 26.2563C106.74 26.2563 105.653 25.9837 104.742 25.4385C103.83 24.8932 103.13 24.1242 102.642 23.1313C102.154 22.1304 101.91 20.9504 101.91 19.5913V19.5791C101.91 18.2363 102.154 17.0604 102.642 16.0513C103.139 15.0422 103.83 14.2568 104.717 13.6953C105.613 13.1338 106.662 12.853 107.867 12.853C109.071 12.853 110.109 13.1216 110.98 13.6587C111.85 14.1958 112.522 14.9526 112.994 15.9292C113.466 16.8976 113.702 18.0288 113.702 19.3228V20.2261H103.228V18.3462H112.42L111.114 20.0918V19.0664C111.114 18.1631 110.976 17.4103 110.699 16.8081C110.422 16.2059 110.04 15.7583 109.551 15.4653C109.071 15.1642 108.514 15.0137 107.879 15.0137C107.244 15.0137 106.675 15.1683 106.17 15.4775C105.674 15.7868 105.283 16.2466 104.998 16.8569C104.713 17.4591 104.571 18.1956 104.571 19.0664V20.104C104.571 20.9422 104.709 21.6584 104.986 22.2524C105.271 22.8465 105.674 23.3022 106.194 23.6196C106.723 23.9289 107.346 24.0835 108.062 24.0835C108.583 24.0835 109.043 24.0062 109.442 23.8516C109.848 23.6888 110.182 23.4772 110.443 23.2168C110.711 22.9482 110.898 22.6593 111.004 22.3501L111.028 22.2646L113.555 22.2524L113.531 22.3867C113.425 22.8831 113.226 23.3633 112.933 23.8271C112.648 24.2829 112.269 24.6979 111.797 25.0723C111.325 25.4385 110.772 25.7274 110.137 25.939C109.503 26.1506 108.79 26.2563 108.001 26.2563Z"
                                fill="#2A2A2A" />
                            <defs>
                                <clipPath id="clip0_337_3235">
                                    <rect width="33.8491" height="33.8491" fill="white"
                                        transform="translate(0.79248 0.0754395)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </button>
                </div>
            </div>
        </div>
</body>

</html>